{% if page.index %}
	{% assign content = post.content %}
	{% assign thePost = post %}
{% else %}
	{% assign thePost = page %}
{% endif %}

<h1><a href="{{thePost.url}}">{{thePost.title}}</a></h1>
{{content}}

{% if thePost.date %}
<div class="post_footer">
	<div class="grid_2 alpha suffix_4">
		<p class="date"><a href="{{thePost.url}}">{{thePost.date | date: "%B %d, %Y"}}</a></p>
	</div>
	<div class="grid_2 omega">
		<!-- <p class="comment_count"><a href="http://localhost/2011/09/this-is-on-page-2/#comments">Comment</a></p> -->
	</div>
</div>
{% endif %}