			<div id="sidebar">
				<h2>Featured</h2><ul><li><a href="http://localhost/2009/10/on-interruptions-theory-and-practice/">On Interruptions: Theory and Practice</a></li><li><a href="http://localhost/2009/03/youre-majoring-in-control-surfaces/">You're majoring in control surfaces‽</a></li><li><a href="http://localhost/2011/01/people-conversations-and-dangerous-things/">People, Conversations, and Dangerous Things</a></li><li><a href="http://localhost/2010/09/so-you-want-to-compete-at-chi/">So you want to compete at CHI?</a></li><li><a href="http://localhost/2010/03/on-mediascapes-and-landscapes-filtering-public-space-and-serendipity/">On mediascapes and landscapes: filtering, public space, and serendipity</a></li></ul>				<h2>Recent</h2>		<ul>
							<li><a href="http://localhost/2011/09/this-is-on-page-2/" title="This is on Page 2">This is on Page 2</a></li>
							<li><a href="http://localhost/2011/08/tweeting-to-myself/" title="Tweeting to myself">Tweeting to myself</a></li>
							<li><a href="http://localhost/2011/06/aesthetics-math-and-music/" title="Aesthetics, math, and music">Aesthetics, math, and music</a></li>
							<li><a href="http://localhost/2011/06/on-atoms-and-bits-the-dying-metaphor-of-the-filesystem/" title="On atoms and bits: the dying metaphor of the filesystem">On atoms and bits: the dying metaphor of the filesystem</a></li>
							<li><a href="http://localhost/2011/05/designed-by-apple-in-california-assembled-where/" title="Designed by Apple in California, assembled where?">Designed by Apple in California, assembled where?</a></li>
							</ul>
					<h2>Me</h2><div class="menu-me-container"><ul id="menu-me" class="menu"><li id="menu-item-366" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-366"><a href="http://olark.com">Live chat – loading…</a></li>
			<li id="menu-item-367" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-367"><a href="http://twitter.com/Noleli">Twitter</a></li>
			<li id="menu-item-368" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-368"><a href="http://www.facebook.com/Noleli">Facebook</a></li>
			<li id="menu-item-369" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-369"><a href="mailto:noah@noahliebman.com">Email</a></li>
			</ul></div>
			<form action="/" method="get">
				<input type="text" name="s" id="search" value="Search" />
			</form>	<div id="footer">
					<p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img src="{{site.baseurl}}images/ui/cc-by-nc-sa.png" alt="Creative Commons Attribution-NonCommercial-ShareAlike"></a></p>
					<p><a href="https://github.com/Noleli/Plaintext">Plaintext</a>, a <a href="http://noahliebman.com/">.nl</a> production</p>
				</div>
			</div><!-- end sidebar -->